.kusos-controller {
  height: 100%;

  & > body {
    height: 100%;
  }

  div {
    height: 100%;
  }

  .main {
    height: 70%;
    text-align: center;
  }

  .foot {
    height: 30%;
    text-align: center;
  }

  .reload, .share {
    height: (100% / 2);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .back {
    z-index: -1;
    background-image: image-url("620.webp");
    background-repeat: no-repeat;
    background-size: 100% auto;
    position: fixed;
    top: 70%;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(15px);
  }
}
